header {
    background-color: black;
    color: #fff;
}

main {
    position: absolute;
    margin-right: 30px;
    padding: 10px;
}

.ParUm {
    font-size: larger;
    color: blueviolet;
    text-align: center;
}

.ParDois {

}

div {
    width: 100px;
} 

footer {
    background-color: black;
    color: #fff;
}